:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #07f5f5;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}


/*  Globales **/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family:'open sans';
    
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nosotros {
    text-align: justify;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.contenedor-sombra{
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin:color #a49c9c ;
}

/* Tipografia */
p{
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


/* Titulos */

.titulo span {
    font-size: 2rem;
}


/** Utilidades **/

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}


/* Navegacion Principal */

.nav-bg {
    background-color: var(--secundario);
    display: block;  
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}


/* Hero */

.hero {
    background-image: url(/img/mapa.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba( 0, 0, 0, .7);
    /** Anterior **/
    background-color: rgb( 0 0 0 / 70%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}


/** Servicios **/

@media (min-width: 768px) {
    .servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
    text-align: center;
}

.servicio p {
    line-height: 2;
    text-align: justify;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/** Footer **/

.footer {
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a63;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
    width: 100%;
    height: 600px;
background: linear-gradient(to right, #667db661, #0082c873, #0082c890, #667db691), url(/img/imagenportada.jpeg); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav >a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: #ffffff;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 48%;

}
.sobre-nosotros .contenido-textos{
    width: 48%;

}
.contenido-textos h3{
margin-bottom: 15px;

}
.contenido-textos h3 span{
    background: #4d0686;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.portafolio{
    background: #f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5)

}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;

}
.hover-galeria p{
    color: #fff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba( 0, 0, 0, .6);
}
.cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;

}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;

}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;

}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 28%;
    text-align: center;
}
.servicio-ind img{
    width: 90%;

}
.servicio-ind h3{
    margin: 10px 0;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
    
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
@media screen and (max-width: 900px) {
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre.nosotros .contenido-textos{
        width: 90%;

    }
    .imagen-about-us{
        width: 90px;
    }
    .imagen-port{
        width: 44%;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .cards .card{
        width: 90%;
    }
    .cards .card:first-child{
        margin-bottom: 30px;

    }
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicio-ind{
        width: 100%;
        text-align: center;
    }
    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }
    .servicio-ind img{
        width: 90%;
    }
}
@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos.header h2{
        font-size: 20px;
    }
    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }
    .sobre-nosotros .contenido-textos{
        width: 95%; 
    }
    .imagen-port{
        width: 95%;
    }
    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img{
        width: 90px;
        height: 90px;
    }
    .contenedor-footer{
        flex-direction: column;
        border: none;

    }
    .contenedor-footer{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border-bottom: 0px none;

    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final{
        font-size: 20px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}
/**margin top: 9rem**/
.container-form .titulo{
    margin-bottom: 15px;
    font-size: 35px;
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: var(--primario);
    margin-right: 10px;
    
}
.container-form form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #0097A7;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: var(--primario);
}